.sidenav {
    background-color: #763fb5;
    width: 150px;
}

.sidenav .nav-list a {
    color: #fff;
}

.sidenav .nav-list i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #fff;
}